<h1>MAIN PAGE</h1>


<%= link_to 'Desktop', desktops_path %><br>
<%= link_to 'Laptop', laptops_path %><br>
<%= link_to 'DTU', dtus_path %><br>
<%= link_to 'Mobile Cart', mobilecarts_path %><br>
<%= link_to 'Smart Phone', smartphones_path %><br>
<%= link_to 'Desk Phone', deskphones_path %><br>
<%= link_to 'Printer', printers_path %><br>
<%= link_to 'Toner', toners_path %><br><br>

<select id="asset_type" onSelect="getResults">
<%= options_for_select([['Asset Type'], ['Desktop', 'desktops'], ['Laptop', 'laptops'], ['DTU', 'dtus'], ['Mobile Cart', 'mobilecarts'], ['Smart Phone', 'smartphones'], ['Desk Phone', 'deskphones'], ['Printer', 'printers'], ['Toner', 'toners']]) %>
</select>
<br><br>

<div id="results">
Hello
</div>

