<p id="notice"><%= notice %></p>

<h1>Listing Desktops</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Jslgtag</th>
      <th>Location</th>
      <th>Assignedto</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desktops.each do |desktop| %>
      <tr>
        <td><%= desktop.manufacturer %></td>
        <td><%= desktop.model %></td>
        <td><%= desktop.jslgTag %></td>
        <td><%= desktop.location %></td>
        <td><%= desktop.assignedTo %></td>
        <td><%= desktop.status %></td>
        <td><%= link_to 'Show', desktop %></td>
        <td><%= link_to 'Edit', edit_desktop_path(desktop) %></td>
        <td><%= link_to 'Destroy', desktop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desktop', new_desktop_path %>
