<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @desktop.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @desktop.model %>
</p>

<p>
  <strong>Jslgtag:</strong>
  <%= @desktop.jslgTag %>
</p>

<p>
  <strong>Manufacturertag:</strong>
  <%= @desktop.manufacturerTag %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @desktop.serialNumber %>
</p>

<p>
  <strong>Ostype:</strong>
  <%= @desktop.osType %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @desktop.hostName %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @desktop.ram %>
</p>

<p>
  <strong>Hdd:</strong>
  <%= @desktop.hdd %>
</p>

<p>
  <strong>Department:</strong>
  <%= @desktop.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @desktop.location %>
</p>

<p>
  <strong>Assignedto:</strong>
  <%= @desktop.assignedTo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @desktop.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @desktop.notes %>
</p>

<%= link_to 'Edit', edit_desktop_path(@desktop) %> |
<%= link_to 'Back', desktops_path %>
