<p id="notice"><%= notice %></p>

<h1>Listing Mobilecarts</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Jslgtag</th>
      <th>Hostname</th>
      <th>Department</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobilecarts.each do |mobilecart| %>
      <tr>
        <td><%= mobilecart.manufacturer %></td>
        <td><%= mobilecart.model %></td>
        <td><%= mobilecart.jslgTag %></td>
        <td><%= mobilecart.hostName %></td>
        <td><%= mobilecart.department %></td>
        <td><%= mobilecart.location %></td>
        <td><%= link_to 'Show', mobilecart %></td>
        <td><%= link_to 'Edit', edit_mobilecart_path(mobilecart) %></td>
        <td><%= link_to 'Destroy', mobilecart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobilecart', new_mobilecart_path %>
