<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @mobilecart.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @mobilecart.model %>
</p>

<p>
  <strong>Jslgtag:</strong>
  <%= @mobilecart.jslgTag %>
</p>

<p>
  <strong>Manufacturertag:</strong>
  <%= @mobilecart.manufacturerTag %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @mobilecart.serialNumber %>
</p>

<p>
  <strong>Ostype:</strong>
  <%= @mobilecart.osType %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @mobilecart.hostName %>
</p>

<p>
  <strong>Department:</strong>
  <%= @mobilecart.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @mobilecart.location %>
</p>

<p>
  <strong>Assignedto:</strong>
  <%= @mobilecart.assignedTo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @mobilecart.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @mobilecart.notes %>
</p>

<%= link_to 'Edit', edit_mobilecart_path(@mobilecart) %> |
<%= link_to 'Back', mobilecarts_path %>
